[fips_sect]
activate = 1
conditional-errors = 1
security-checks = 1
tls1-prf-ems-check = 1
drbg-no-trunc-md = 1
module-mac = 95:53:91:AA:DA:97:21:9C:04:92:95:12:C9:E9:47:D6:A2:D1:A0:F2:3E:20:19:15:FC:C2:4C:A1:46:7B:69:D4
